/* Sass file that assigns the text color #3D3D3D to the HTML tags <body> and <p> */
/* $ is used to define a variable */
$my-color: #3D3D3D;
body {
    color: $my-color;
}
p {
    color: $my-color;
}
