/* Sass file that assigns text color #3D3D3D to the HTML tags body and p */
/* assigns background color #6D6D6D to the HTML tags body and h2 */

/* $ is used to define a variable */
$my-text-color: #3D3D3D;
$my-background-color: #6D6D6D;

body {
    color: $my-text-color;
    background-color: $my-background-color;
}

p {
    color: $my-text-color;
}

h2 {
    background-color: $my-background-color;
}
